:host {
    /**
    --bleed: 1rem

    A `<details-toggle>` hides the overflow of it's content. Normally this would
    truncate shadows and any element that hangs outside its padding box, but to
    avoid this the content slot is made to 'bleed' larger than the parent box.
    This variable controls the bleed distance.
    **/
    --bleed: 1rem;

    display: flex;
    /* Up to down */
    flex-direction: column;
    /* X direction */
    align-items: stretch;
    /* Y direction */
    justify-content: start;

    font-size: inherit;
    line-height: inherit;

    /* Make user-set paddings and margins transition on details toggle */
    transition:
        margin-bottom 0.5s cubic-bezier(0.26, 0, 0.5, 1),
        padding-bottom 0.5s cubic-bezier(0.26, 0, 0.5, 1);
}

:host([hidden]) {
    display: none;
}

:host > slot[name="summary"] {
    z-index: 2;
}

:host > [part="content"] {
    max-height: 0;

    margin-top: calc(-1 * var(--bleed));
    margin-left: calc(-1 * var(--bleed));
    margin-right: calc(-1 * var(--bleed));
    margin-bottom: 0;
    padding-top: var(--bleed);
    padding-left: var(--bleed);
    padding-right: var(--bleed);
    padding-bottom: 0;

    transition:
        max-height 0.5s cubic-bezier(0.26, 0, 0.5, 1),
        margin-bottom 0.5s cubic-bezier(0.26, 0, 0.5, 1),
        padding-bottom 0.5s cubic-bezier(0.26, 0, 0.5, 1);

    z-index: 1;
}

:host([open]) > [part="content"] {
    max-height: none;

    margin-bottom: calc(-1 * var(--bleed));
    padding-bottom: var(--bleed);

    transition:
        max-height 0.3s cubic-bezier(0.26, 0, 0.5, 1),
        margin-bottom 0.3s cubic-bezier(0.26, 0, 0.5, 1),
        padding-bottom 0.3s cubic-bezier(0.26, 0, 0.5, 1);
}
