
details-toggle {
    display: block;
    box-sizing: border-box;
}

details-toggle:not(:defined) {
    max-height: none;
}

.loading details-toggle,
.resizing details-toggle {
    transition: none !important;
}
